<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}"
      href="{{ site.url }}/feed.xml">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50107756-1', 'derekeatsfood.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">{{ site.name }}</a></h1>
        <p>{{ site.description }}</p>
        <p><a href="/reviews.html">Reviews</a><br><small>Places I've eaten</small></p>
        <p><a href="/badideas.html">Bad ideas</a><br><small>I eat it so you don't have to</small></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><a href="https://twitter.com/daguenther">Twitter</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>